dist
doc
doc-public
*.tar.gz
temp
jwig-*.zip
kickstart.zip
build
local.properties

.DS_Store

*.iws

examples/src/jwig.properties

microchat/MicroChat.java

manual/manual.toc

manual/manual.aux

manual/manual.log

manual/manual.html

manual/manual.pdf

manual/manual.out

manual/manual.tex
